  body {
        background: #f2f2f2;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        background: white;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        width: 450px;
    }

    .container h2 {
        text-align: center;
        margin-bottom: 0px;
        color: #333;
    }

    .form-group {
        margin-bottom: 1px;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        color: #444;
    }

    input, select {
        width: 100%;
        padding: 1px;
        border: 2px solid #b93636;
        border-radius: 6px;
        font-size: 15px;
    }

    input:focus, select:focus {
        border-color: #4c8bf5;
        outline: none;
        box-shadow: 0 0 5px rgba(67, 130, 238, 0.5);
    }

    .form-row {
        display: flex;
        gap: 10px;
    }

    .form-group.col-md-6 { width: 50%; }
    .form-group.col-md-4 { width: 33%; }
    .form-group.col-md-2 { width: 17%; }

    .form-check {
        display: flex;
        align-items: center;
        gap: 1px;
    }

    .btn {
        width: 100%;
        background: #6d97e0;
        color: rgb(243, 237, 237);
        padding: 12px;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.2s;
    }

    .btn:hover {
        background: #e0e3e9;
    }