body {
    background: #000000;
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 100vh;
    margin: 0;
    min-height: 100vh;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/021/354/small_2x/drops-of-light-animated-background-free-video.jpg");
    background-size: cover;
    background-repeat: no-repeat;


}



h1 {
    margin-bottom: 10px;
    font-size: 1rem;
}

p {
    margin: 30px 0;
    font-size: 1.2rem;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff006a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background-color: #d8005a;
}