body {
            background: #121212;
            color: #faf1f1;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            width: 100%;
            max-width: 400px;
            overflow: hidden;
        }

        .Edicao {
            animation: deslizar 5s linear infinite;
            text-align: center;
            padding: 50px;
            border-radius: 15px;
            background: rgb(35, 35, 35);
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
        }

        @keyframes deslizar {
            0% { transform: translateX(100%); }
            100% { transform: translateX(-100%); }
        }

        h1 {
            margin-bottom: 10px;
            font-size: 2rem;
        }

        p {
            margin: 30px 0;
            font-size: 1.2rem;
        }