
html,
body {
    height: 100%;
    margin: 0px 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.animado {
    text-shadow: 0px 0px 15px ;
    text-align: center;
    height: 110%;
    width: 100%;
    animation: Animacao 1s infinite linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(31, 29, 29);
}



@keyframes Animacao {
    0% {
        background-color: #16161D;
    }

    25% {
        background-color: #ffffff;
    }

    50% {
        background-color: #16161D;
    }

    75% {
        background-color: #ffffff;
    }

    100% {
        background-color: #16161D;
    }
}