body {
            background: #000000;
            color: #f3f3f3;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            width: 100%;
            max-width: 300px;
            overflow: hidden;
        }
           h1 {
            margin-bottom: 10px;
            font-size: 1rem;
        }

        p {
            margin: 30px 0;
            font-size: 1.2rem;
        }